.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;

}

.title {
    grid-column: 2;
    text-align: right;
}

.preco {
    place-self: start end;
}

.comprar {
    align-self: start;    
    text-align: center;
}

.descricao {
    text-align: right;
}

/* Estilos gerais */

body {
    font-family: Arial;
    margin: 40px;
}

img {
    max-width: 100%;
    border-radius: 4px;
}

h1, p {
    margin: 0px;
}

.preco {
    background: #ddd;
    padding: 5px 10px;
    border-radius: 4px;
}

h1 {
    font-size: 48px;
}

p, span {
    font-size: 20px;
}

.comprar {
    font-size: 20px;
    background: #a8f;
    color: #103;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
}